* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.header {
  display: flex;
  align-items: center;
  padding: 20px;
  background: rgb(155, 95, 172);
  background: linear-gradient(90deg, rgb(86, 35, 100) 0%, rgb(137, 66, 137) 100%);
  color: white;
  height: 15vh;
  overflow: hidden;
}

#logo {
  height: 100%
    /* mix-blend-mode: color-burn;   */
}

.h1 {
  margin-left: 20px;
  font-size: 1.8rem;
}

.h2 {
  margin-left: auto;
  font-size: 1.2rem;
}

main {
  width: 100%;
  height: 85vh;
  border: 1px solid black;
}

.inputs{
width: 100%;
}
.ins{
  width: 70%;
  margin: 0 auto;
}

input {
  width: 40%;
  height: 5vh;
  text-indent: 10px;
 
  border-radius: 7px;
  border: 1px solid;
}

button {
  width: 200px;
  height: 5vh;
  display: block;
  margin: 0 auto;
  background: linear-gradient(90deg, rgb(86, 35, 100) 0%, rgb(137, 66, 137) 100%);
  border-style: none;
  color: white;
  border-radius: 7px;
}
.memeImg{
  width: 55%;
  height: 60vh;
  display: block;
  margin: 5px auto;
}

#topText {
  position: absolute;
  top: 20px;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 3rem;
  color: white;
  text-shadow: 2px 2px 2px black;
}
#bottomText {
  position: absolute;
  bottom: 20px;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 3rem;
  color: white;
  text-shadow: 2px 2px 2px black;
}